<table id="hackathon" class="display" cellspacing="0" width="100%">
	<thead>
		<tr>
      <th style="text-transform: capitalize;" *ngFor = "let header of headerData">
        {{header}}
      </th>


		</tr>
	</thead>
	
  
  <tbody>
    <ng-container *ngIf="data_array?.length">
    <tr *ngFor = "let data of data_array">
      <td *ngFor = "let c_header of headerData">
        <i class="fas fa-check-square goldiconcolor"  [ngClass]="{'goldiconcolor': data[c_header] > 0, 'silvericoncolor' : data[c_header] == 0 }"></i>
      </td>
    </tr>
  </ng-container>

	</tbody>